# Python
__pycache__/
*.pyc

# Virtual environments
.venv/

# Mac
.DS_Store

# Outputs

outputs/*
!outputs/visualizations/
!outputs/visualizations/mutation_heatmap.png

data/mpnn_outputs/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

.env

external/